html,
body {
  background-color: pink;
  color: white;
  font-family: cursive;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 20px;
}

.container p {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.contentMes h1 {
  font-size: ;
}

.hidden {
  display: none;
}
